.store-transactions {

    card-body {
        card-text-store {
            font-size: 18px;
            color: #0C0D36;
            margin-top: 15px;
        }
    
        card-text {
            font-size: 18px;
            color: #29A867;
            margin-top: 15px;
        }
    }
    
}

